<!-- form handling -->
<form action="/api/patients" method="POST" id="add_patient">
    <div class="new_patient">
        <div class="form-group">
            <label for="nic" class="text-light">ID Number</label>
            <input type="hidden" name="id" value="">
             <input type="text" name="nic" value="" placeholder="Enter patient's NIC">
         </div>
         <div class="form-group">
             <label for="name" class="text-light">Name</label>
             <input type="text" name="name" value="" placeholder="Enter patient's Name">
         </div>
         <div class="form-group">
             <label for="Age" class="text-light">Age</label>
             <input type="text" name="age" value="" placeholder="Enter patient's Age">
         </div>
 
         
 
         <div class="form-group">
             <label for="vaccine" class="text-light">Vaccine</label>
             <div class="radio inline">
                 <input type="radio" id="radio-4" name="vaccine" value="Pfizer" >
                 <label for="radio-4" class="radio-label">Pfizer</label>
             </div>
             <div class="radio inline">
                 <input type="radio" id="radio-5" name="vaccine" value="Sinopharm" >
                 <label for="radio-5" class="radio-label"> Sinopharm </label>
             </div>
         </div>
 
         <div class="form-group">
             <button type="submit" class="btn text-dark update">Save</button>
         </div>
    </div>
 </form>