<tr>
    <td>1</td>
    <td>981602567V</td>
    <td>Sachith Tharinda</td>
    <td>23</td>
    <td>Pfizer</td>
    <td>
        <a href="/update-patient" class="btn border-shadow update">
            <span class="text-gradient">Edit</i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">Delete</i></span>
        </a>
    </td>
</tr>