<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APPLICATION</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="../assests/css/style.css">
</head>
<body>
  <!--header-->

        <header id="header">
            <nav>
                <div class="container"> 
                    <div class="text-center">
                        <a href="/" class="nav-barnd text-dark">Library Management System</a>
                    </div>
                </div>
            </nav> 
        </header>
   <!--/header-->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/"><i class="fas fa-angle-double-left"></i>  Registered patient  <i class="fas fa-address-book"></i></a>
            </div>
             <div class="form-title text-center">
                 <h2 class="text-dark">Registration</h2>
                 <span class="text-light">Use the below form to regisration</span>
             </div>

            <!-- form handling -->
            <form  method="POST" id="add_patient">
               <div class="new_patient">
                   <div class="form-group">
                       <label for="nic" class="text-light">ID Number</label>
                       <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Enter patient's NIC">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="text" name="email" value="" placeholder="Enter patient's Name">
                    </div>
                    <div class="form-group">
                        <label for="Age" class="text-light">Age</label>
                        <input type="text" name="email" value="" placeholder="Enter patient's Age">
                    </div>
            
                    
            
                    <div class="form-group">
                        <label for="Type" class="text-light">Vaccine</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="status" value="Active" >
                            <label for="radio-4" class="radio-label">Pfizer</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-5" name="status" value="Inactive" >
                            <label for="radio-5" class="radio-label"> Sinopharm </label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
               </div>
            </form>
        </div>
    </main>
<!-- /Main Site --> 

   </body>
   </html>