
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

   <!-- Main Site -->
   <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">Register patient <i class="fas fa-virus"></i></span>
            </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>ID Number</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>vaccine</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                           
                        <td>1</td>
                        <td>981602567V</td>
                        <td>Sachith Tharinda</td>
                        <td>23</td>
                        <td>Pfizer</td>
                        <td>
                            <a href="#" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a href="#" class="btn border-shadow delete">
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /Main Site --> 

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer --> 